/* QuestionList.css

/* Container for the entire component */
/* .container {
    margin: 20px;
  }
  
  .table {
    margin: 10%;
    width: 80%;
    border-collapse: collapse;
    border: 10px solid #ddd;
    padding: 10px;
  }
  
  .table th {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .question-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .question-link:hover {
    text-decoration: underline;
  } 

  .premium-badge {
    background-color: #f39c12; 
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
} */
   